@charset "UTF-8";

div#source {
	font-family:'Poppins';
	text-align: right;
	padding-top: 10px;
	font-size: 16px;
	color: gray;
}

a{
	color: inherit;
  	text-decoration: inherit;
}

#chart{
	margin-top:10px;
	overflow: visible;
}

.highcharts-title {
	font-family: 'Droid Serif', serif;
	font-weight:600;
	font-size:36pt;
	fill:#2c2c2c;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.highcharts-subtitle {
	font-family: 'Poppins', sans-serif;
    color: grey;
    font-weight: 300;
    font-size: 12pt;
}

/*Styles the div that holds the highchart */
div#container {
	margin-top:20px;
	margin-bottom:20px;
	padding-left:20px;
	padding-top:20px;
	padding-right:30px;
	padding-bottom:10px;
	border-left:1px solid black;
	border-bottom:14pt solid black;
	border-top:1px solid black;
	border-right:1px solid black;
	box-shadow:5px 5px 10px gainsboro;
	min-width: 310px;
	max-width: 1000px; 

	margin-left:auto;
	margin-right:auto;
}

#line {
  background: #fbd603;
  width: 100%;
  height: 7px;
  margin-top: 6px;
}

 h5 {
      font-family:'Droid Serif', serif;
      font-weight:400;
      font-size:16pt;
      color:#2c2c2c;
      text-align:left;
    }